# Bibliotecas Fundamentais para Análise de Dados
numpy~=1.26.4        # Computação numérica e arrays
pandas~=2.2.3        # Manipulação e análise de dados
scipy~=1.14.1        # Estatísticas e computação científica

# Bibliotecas de Visualização
matplotlib~=3.9.2    # Visualização de dados básica
seaborn~=0.13.2     # Visualização estatística avançada

# Processamento de PDF e Imagem
camelot-py      # Extração de tabelas de PDF
opencv-python~=4.10.0.84  # Processamento de imagem
pdfplumber~=0.11.4  # Processamento de PDF
ghostscript~=0.7    # Dependência do camelot



# Machine Learning
scikit-learn~=1.5.2  # Algoritmos de ML
torch~=2.0.1        # Framework Deep Learning
spacy~=3.8.2        # Processamento de linguagem natural
transformers~=4.46.3 # Modelos de transformers

# Utilitários
python-dotenv~=1.0.1  # Variáveis de ambiente
tqdm~=4.67.0         # Barras de progresso
openpyxl~=3.1.5      # Leitura de arquivos Excel
xlrd~=1.2.0

# Tipos para Python
typing_extensions~=4.12.2  # Suporte a tipos estáticos

# Dependências adicionais
pt_core_news_sm~=3.8.0    # Modelo português para spaCy

